<h1><%= @board.title %></h1>
<%= link_to "返回上一頁", boards_path %>
<%= link_to "發表文章", new_board_post_path(@board) %>

<ul>
  <% @posts.each do |post| %>
  <li><%= link_to post.title, post_path(post) %></li>
  <% end %>
</ul>